.grid-container {
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .text-format{
    margin: 20px;
    text-align: center;
  }